.homepage{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 10px;
}

.coversection{
    height : 24vh;
    margin-bottom: 0.3%;
}

.menusection{
    background-color: azure;
    height :13vh;
    position: sticky;
    top : 0px;
}

.tasksection{
    background-color: lightblue;
    height: 1500px;
}